@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMDB Explorer</h1>
    <p class="lead">Use the menu above to explore the IMDB Database after you load it to Cosmos DB</p>
</div>
